

.wrapper{
  display: flex;
  justify-content: center;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
}



.front{
  display: flex;
  width: 100%;
}
.back{
  display: flex;
  width: 100%;
}
.card {
  position: relative;
  display: flex;
  width: 100px;

 

}

img{
   border: 3px solid black;
   border-radius: 5px;
}


/* 
.main {
display: grid;
justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20%;
  gap: 20px;
  justify-content: center;
  position: absolute;
  max-width: 800px;

}


.card {
  display: flex;
  height: 100px;
 
  border-radius: 5px;
  justify-content: center;
}

.card img {
  border: 5px solid black;
  height: auto;
  width: 100%;
  display: block;
  size: relative;
  } 

 .card .back{
  height: 100%px;
  display: flex;
}  */