.App{
  border: 1px solid red;
  height: 100vh;
  margin: 0 auto;

}

.wrapper {
  padding: 20px;
  height: 100%;
  /* box-sizing: border-box; */
  
}

.header{
display: flex;
justify-content: center;
background-color: grey;

}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  color: white;
  
}
.title{
  font-size: 40px;
  margin: 10px;
  justify-self: center;
}
.nav ul{
    display: flex;
margin: 5px;
}

.links li{
list-style: none;
padding: 5px;

}

.newgame{
size: 100%;

}
.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;

}

.card {
flex: 24%;
margin-top: 1%;
margin-right: 1%;


}

img {
  border: 3px solid black;
  border-radius: 5px;
  width: 90%;
  height: 90%;
}

.card .front {
  display: none;
}

.flipped .front {
  display: flex;
}
.flipped .back {
  display: none;
}

